body {
  background-color: black
}

h1 {
  color: gold;
  text-align: center;
}

/* .square {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 0 2px;
  border-style: solid;
  border-width: 4px;
  border-radius: 3px
} */

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.indigo {
  background-color: indigo;
}

.violet {
  background-color: violet;
}
